<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyl.nursing.mapper.NursingElderMapper">

    <resultMap type="NursingElder" id="NursingElderResult">
        <result property="id"    column="id"    />
        <result property="nursingId"    column="nursing_id"    />
        <result property="elderId"    column="elder_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectNursingElderVo">
        select id, nursing_id, elder_id, create_time, update_time, create_by, update_by, remark from nursing_elder
    </sql>

    <select id="selectNursingElderList" parameterType="NursingElder" resultMap="NursingElderResult">
        <include refid="selectNursingElderVo"/>
        <where>
            <if test="nursingId != null "> and nursing_id = #{nursingId}</if>
            <if test="elderId != null "> and elder_id = #{elderId}</if>
        </where>
    </select>

    <select id="selectNursingElderById" parameterType="Long" resultMap="NursingElderResult">
        <include refid="selectNursingElderVo"/>
        where id = #{id}
    </select>

    <insert id="insertNursingElder" parameterType="NursingElder" useGeneratedKeys="true" keyProperty="id">
        insert into nursing_elder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nursingId != null">nursing_id,</if>
            <if test="elderId != null">elder_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nursingId != null">#{nursingId},</if>
            <if test="elderId != null">#{elderId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateNursingElder" parameterType="NursingElder">
        update nursing_elder
        <trim prefix="SET" suffixOverrides=",">
            <if test="nursingId != null">nursing_id = #{nursingId},</if>
            <if test="elderId != null">elder_id = #{elderId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNursingElderById" parameterType="Long">
        delete from nursing_elder where id = #{id}
    </delete>

    <delete id="deleteNursingElderByIds" parameterType="String">
        delete from nursing_elder where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectNickNameByElderId" resultType="com.zzyl.nursing.vo.NursingNameVo">
        select ne.elder_id elderId, su.nick_name nursingName
        from nursing_elder ne
        left join sys_user su on ne.nursing_id = su.user_id
        where ne.nursing_id in
        <foreach item="id" collection="set" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>
</mapper>